<div>
	<div class="container">
     <table class="table">
    <tbody>
      <tr ng-repeat="x in todos">
        <td>
         <span>{{x.name}}</span>
		</td>
	</tr>
    </tbody>
    </table>
     </div>
</div>